
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                  <img src="https://ciie.co/img/GIF_CO.gif" class="brand_logo" alt="Logo">
                </div>
              </div><br><br><br><br>
    We know, you love them. <i class="fas fa-coffee"></i> 
    Let them feel you <i class="fas fa-grin-hearts"></i>
    Gift them your love <i class="fab fa-gratipay"></i>
    Gift them you <i class="fas fa-hand-holding-heart"></i>
    Gift them CO!<i class="fas fa-gift"></i><br>
    <button type="button" name="button" class="btn login_btn"  style="margin:10px,float=left" (click)="placeTheOrder()">Place Order</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">